@if(profile){
  <ul class="profile-list">
    <li class="profile-card">
      <div class="profile-avatar">
        <img src="avatar1.jpg" alt="Аватар">
      </div>
      <div class="profile-details">
        <h3>{{ profile.firstName }} {{profile.lastName}}
          <span
            [ngClass]="profile.isActive ? 'badge-active' : 'badge-inactive'">
            {{ profile.isActive ? 'Активний' : 'Неактивний' }}
          </span>


        </h3>
        <p>Username: {{ profile.username }}</p>
        <p>Місто: {{ profile.city }}</p>
        <p>Стек:
          @for (skill of profile.stack; track skill){
            <span style="font-size: 18px;">|{{ skill }}| </span>
          }
        </p>
        <p>Опис: {{ profile.description }}</p>
      </div>
      <div class="subscriptions">
        <span>{{ profile.subscriptionsAmount }}</span>
        Підписки
      </div>
    </li>
  </ul>
}



